<meta charset="UTF-8">
<title>{$title} - 奥铃汽车官网</title>
<meta name="keywords" content="奥铃汽车官网">
<meta name="description" content="奥铃汽车官网">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="__INDEX__/css/set.css">
<link rel="stylesheet" href="__INDEX__/css/layui.css">
<link rel="stylesheet" href="__INDEX__/css/header.css">
<link rel="stylesheet" href="__INDEX__/css/footer.css">
<link rel="stylesheet" href="__INDEX__/css/swiper.min.css">
<script src="__INDEX__/js/jquery.min.js"></script>
<script src="__INDEX__/js/swiper.min.js"></script>
<script src="__INDEX__/js/layui.js"></script>
<script src="__INDEX__/js/header.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4b35b9696537f6518e4cdcdeeee51ff6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
