<!DOCTYPE html>
<html lang="en">

<head>
		{include file="mobile/public/resource" /}    
	<link rel="stylesheet" href="__INDEX__/mobile/css/grzl.css">

</head>

<body>
	{include file="mobile/public/header" /}	
	<div class="g_main">
		<div class="header">
			<span class="xy"><a href="./grzl1.html"><img src="__INDEX__/mobile/img/grzxym/fhjt.png"></a></span>
			<p class="ger">个人中心</p>
		</div>
		<ul class="al">
			<li><a>个人资料</a></li>
			<li><a style="border-bottom: 1px solid #0065b3;">个人信息</a></li>
			<li><a>标签信息</a></li>
		</ul>
		<div class="nav">
			<p>会员号：<span class="sp1">563884</span></p>
			<p>手机号码：<span class="sp1">177****135</span> <span class="sp2">修改</span></p>
			<p>会员等级：<span class="sp1">普卡</span></p>
			<p>会员当前积分：<span class="sp1">580</span> <span class="sp3">查看详情</span></p>

			<p>权益：</p>
			<table border="2"
				style="text-align:center; height: 3.125rem;width: 100%;; margin: 0 auto; font-size: 0.5625rem;">
				<tr style="color:#2277b1">
					<td>优惠项目</td>
					<td>优惠</td>
					<td>剩余次数</td>
					<td>到期时间</td>
				</tr>
				<tr>
					<td>终身车辆免费体验活动</td>
					<td>--</td>
					<td>--</td>
					<td>2019-03-06</td>
				</tr>
			</table>
		</div>
		<p class="p2">
			<a href="./bqxx.html"><button class="btn1">下一页 ＞</button></a>
		</p>
	</div>
  {include file="mobile/public/footer" /} 

</body>

</html>