<!DOCTYPE html>
<html lang="en">

<head>
    {include file="mobile/public/resource" /}    
    <link rel="stylesheet" href="__INDEX__/mobile/css/hyzx.css">
    <title>会员积分查询</title>

<body>
   {include file="mobile/public/header" /}  
    <div class="main">
        <div class="header">
            <span class="xy"><a href="{:url('Login/center')}"><img src="__INDEX__/mobile/img/grzxym/fhjt.png"></a></span>
            <p class="ger">个人中心</p>
        </div>
        <p class="p1"><span>会员中心查询</span></p>
        <div class="nav">
            <p>会员等级：普卡</p>
            <p>会员当前积分：580</p>
            <p>近三个月的积分</p>
        </div>
        <ul class="u_l">
            <li>序号</li>
            <li>时间</li>
            <li>交易类型</li>
            <li>行为方式</li>
            <li>来源系统</li>
            <li>积分变动</li>
            <li>交易状态</li>
        </ul>
        <div class="box">
            <ul class="u_x">
                <li>1</li>
                <li style="width:1.4688rem"></li>
                <li>累加</li>
                <li>每日签到</li>
                <li>官网</li>
                <li>10</li>
                <li>已处理</li>
            </ul>
        </div>
        <p class="p2">
            <button class="btn1">保存 ＞</button>
            <button class="btn2">取消 ＞</button>
        </p>
    </div>
  {include file="mobile/public/footer" /} 
</body>

</html>