<!DOCTYPE html>
<html lang="en">

<head>
        {include file="mobile/public/resource" /}    
    <link rel="stylesheet" href="__INDEX__/mobile/css/gdxs.css">
    <title>工单搜索查询</title>
</head>

<body>
    {include file="mobile/public/header" /} 
    <div class="main">
        <div class="header">
            <span class="xy"><a href="{:url('Login/personal')}"><img src="__INDEX__/mobile/img/grzxym/fhjt.png"></a></span>
            <p class="ger">个人中心</p>
        </div>
        <p class="p1"><span>工单线索查询</span></p>
        <ul class="u_l">
            <li>序号</li>
            <li>类型</li>
            <li>提交时间</li>
            <li>状态</li>
            <li>操作</li>
        </ul>
        <div class="box">

        </div>
        <p class="p2">
            <button class="btn1">保存 ＞</button>
            <button class="btn2">取消 ＞</button>
        </p>
    </div>
     {include file="mobile/public/footer" /} 

</body>

</html>
