<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="__INDEX__/mobile/css/gywm.css">
	{include file="mobile/public/resource" /}
</head>
{include file="mobile/public/header" /}
<div class="banner" style="margin-top:2.4375rem;"><img src="__INDEX__/mobile/img/gywm/banner.jpg"></div>
<div class="main">
	<div class="d_center">
		<img src="__INDEX__/mobile/img/gywm/ppjs.png">
	</div>
	<div class="y_m">
		<h1>奥铃品牌综述</h1>
		<p>
				奥铃品牌作为福田汽车战略业务品牌之一，中国轻卡领军品牌。以“科技奥铃，承载未来”为品牌口号，链合欧美日中全球领先科技，致力于用科技驱动中国轻卡升级换代。同时奥铃以自身不断发展来承载客户的未来、员工的未来及整个行业的未来。奥铃以“应用场景最全”、“产品线最宽”、“细分市场最专”为特色，通过奥铃CTS、奥铃速运、奥铃新捷运——具有鲜明应用场景标签的核心轻卡业务，上延10吨以上中卡、下探2吨以内小卡，全系轻卡配装有康明斯、奥铃动力、全柴、云内、玉柴、朝柴、纯电动动力，轴距从2800-5200米，货厢长度从2.65米-6.8米。奥铃品牌缜密布局高效城市物流、“轻快灵”城配物流和安全重载城郊物流，满足不同客户的个性化需求，覆盖城市、城郊、城际、城乡各类不同运输工况，为客户提供“支线+城配”全场景一体化解决方案。

		</p>
		<!-- <p>
				奥铃品牌是福田汽车战略业务品牌之一，以科技奥铃，承载未来为品牌口号，链合欧美日中全球领先科技，致力于用科技驱动中国轻卡升级换代。同时奥铃以自身不断发展希望承载客户的未来、员工的未来及整个行业的未来。奥铃以“应用场景最全”、“产品线最宽”、“细分市场最专”为特色，通过奥铃超越、奥铃速运、奥铃新捷运——具有鲜明应用场景标签的“三驾马车”，以轻卡为核心，上延10吨以上宽体轻卡、下探2吨以内小卡，全系轻卡配装有康明斯、奥铃动力、CNG动力、纯电动动力，轴距从2.8-5.2米，货厢长度从2.65米-7.75米。奥铃品牌缜密布局高效城市物流、“轻快灵”城配物流和安全重载城郊物流，满足不同客户的个性化需求，覆盖城市、城郊、城际、城乡各类不同运输工况，为客户提供“支线+城配”全场景一体化解决方案，打造中国轻卡领军品牌

		</p> -->
		<!-- <p>奥铃品牌下设奥铃CTS、奥铃TS、奥铃速运、奥铃新捷运、奥铃CTX、奥铃TX、奥铃捷运、奥铃EV八大车系，满足用户不同运输需求，实现中高端轻卡市场的全覆盖，致力于为客户提供可靠、绿色、节能高效和智能互联的城市物流系统解决方案。</p>
		<p>奥铃国Ⅴ系列轻卡配装有康明斯、奥铃动力、CNG动力、纯电动动力，轴距从2.8-5.2米，载质量从1.5吨-10吨，货厢长度从2.65米-7.75米，是目前中高端轻卡市场动力最丰富、品种最齐全的品牌</p> -->
	</div>
</div>
<div class="d_center">
	<img src="__INDEX__/mobile/img/gywm/rypp.png">
</div>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide" style="font-size: 13px;text-align: center;">
			<img src="__INDEX__/mobile/img/gywm/wj.jpg" alt="">
			<p>奥铃CTS超级轻卡挑战极限赛 获评“冰雪极限卡车</p>
		</div>
		<div class="swiper-slide"><img src="__INDEX__/mobile/img/gywm/1.jpg" alt="">
			<p>2018年寻找车极限颁奖典礼中奥铃CTX荣获最耐用轻卡称号</p>
		</div>
		<div class="swiper-slide"><img src="__INDEX__/mobile/img/gywm/2.jpg" alt="">
			<p>2018年度中国卡车用户最信赖城市物流车型</p>
		</div>
		<div class="swiper-slide" >
			<img src="__INDEX__/mobile/img/gywm/33.jpg" alt="">
			<p>2017年奥铃CTS超级轻卡荣获节油冠军称号</p>
		</div>
		<div class="swiper-slide"><img src="__INDEX__/mobile/img/gywm/44.jpg" alt="">
			<p>奥铃CTS超级轻卡荣获 2017年度第一影响力轻卡</p>
		</div>
		<div class="swiper-slide"><img src="__INDEX__/mobile/img/gywm/55.jpg" alt="">
			<p>福田奥铃CTS超级轻卡荣获“2017年度轻卡车型”大奖并被评选为“2016用户最满意商用车</p>
		</div>
		<div class="swiper-slide"><img src="__INDEX__/mobile/img/gywm/66.jpg" alt="">
			<p>奥铃CTS超级轻卡荣获“2017年度中国卡车用户最信赖电商配送车型”奖</p>
		</div>
		<div class="swiper-slide"><img src="__INDEX__/mobile/img/gywm/77.jpg" alt="">
			<p>2016年奥铃品牌荣获由中国卡车网颁发的“2016年度中国卡车用户最信赖轻卡”奖</p>
		</div>
	</div>
	<div class="swiper-button-prev"></div>
	<!--左箭头-->
	<div class="swiper-button-next"></div>
	<!--右箭头-->
</div>
<div class="b_b">

	<ul>
		<span>
			<</span> <li onclick="btn() " class='l0'>2018&nbsp;&nbsp;&nbsp;|</li>
				<li onclick="btn1()" class="l1"> 2017&nbsp;&nbsp;&nbsp;|</li>
				<li onclick="btn2()" class="l2"> 2016&nbsp;&nbsp;&nbsp;|</li>
				<li onclick="btn3()" class="l3"> 2015</li>
				<span style="padding-left:0.5rem;">></span>
	</ul>
</div>
<div class="warp">
	<div class="d_center">
		<img src="__INDEX__/mobile/img/gywm/pplc.png">
	</div>
	<div class="w_z">
		<div class="w_z_l">
			<h1>2019</h1>
			<p>2019-01-01</p>
			<p>贴近市场、贴近终端、</br>贴近客户</p>
		</div>
		<div class="w_z_c"><img src="__INDEX__/mobile/img/gywm/pplcxt.png" style=" padding: 0 1.5625rem;"></div>
		<div class="w_z_r">
			<p>
				创新构建赛事+论坛两个实体活动，奥铃品牌以中国勒芒轻卡耐力赛为平台，通过创新构建赛事+论坛两个实体活动，实现了与目标客户的有效沟通，促进了奥铃品牌客户结构的调整。
					<!-- 创新构建赛事+论坛两个实体活动,奥铃品牌以中国勒芒轻卡耐力赛为平台，通过创新构建赛事+论坛两个实体活动，实现了与目标客户的有效沟通，促进了奥铃品牌客户结构的调整。 -->
				</p>
			<!-- <p>贴近市场、贴近终端、贴近客户</p>
			<p>贴近市场、贴近终端、贴近客户</p>
			<p>贴近市场、贴近终端、贴近客户</p>
			<p>贴近市场、贴近终端、贴近客户</p>
			<p>贴近市场、贴近终端、贴近客户</p> -->

		</div>
	</div>
</div>
<div class="main">
	<div class="d_center1">
		<img src="__INDEX__/mobile/img/gywm/jskf.png">
	</div>
	<div class="y_m1">
		<h1>福田汽车在创新之路上</h1>
		<p>
			福田汽车借助科技创新和内涵增长，把握瞬息万变的全球市场。福田汽车以人为本，通过整合康明斯、奔驰等全球价值链资源，不断推进福田汽车的国际化进程，福田汽车为全球用户创造由科技成果转化的高附加值产品和服务,运用人类智慧和科技力量来思考与探索未来，永不止步。
			<!-- 福田汽车借助科技创新和内涵增长，把握瞬息万变的全球市场。FOTON以人为本，通过整合康明斯、奔驰等全球价值链资源，不断推进FOTON的国际化进程，为全球用户创造由科技成果转化的高附加值产品和服务，持续创造人、车、环境的和谐共生新境界。福田汽车运用人类智慧和科技力量来思考与探索未来，永不止步！ -->
		</p>
	</div>
</div>
{include file="mobile/public/footer" /}






<script language="javascript">
var mySwiper = new Swiper('.swiper-container',{
  	on: {
		slideChangeTransitionStart: function(){
			// alert(this.activeIndex);
			if(this.activeIndex==0 || this.activeIndex==1 || this.activeIndex==2 ||this.activeIndex==3){
				$(".l0").css('color','#0066B3');
			}else{
				$(".l0").css('color','#000');
			}
			if(this.activeIndex==4 || this.activeIndex==5 || this.activeIndex==6 ||this.activeIndex==7){
				$(".l1").css('color','#0066B3');
			}else{
				$(".l1").css('color','#000');
			}
			// if(this.activeIndex==7){
			// 	$(".l2").css('color','#0066B3');
			// }else{
			// 	$(".l2").css('color','#000');
			// }
			// if(this.activeIndex==8){
			// 	$(".l3").css('color','#0066B3');
			// }else{
			// 	$(".l3").css('color','#000');
			// }
    	},
  },
})




	var mySwiper = new Swiper('.swiper-container', {
		loop: true,
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});
	function btn() { 
		mySwiper.slideTo(1, 1000, false);
	 }
	 function btn1() { 
		mySwiper.slideTo(4, 1000, false);
	 }
	 function btn2() { 
		mySwiper.slideTo(8, 1000, false);
	 }
	 function btn3() { 
		mySwiper.slideTo(9, 1000, false);
	 }
	// $('.each').find('li').each(function (i, index) {
	// 		$(this).click(function () {
	// 			mySwiper2.slideTo(i, 1000, false);
	// 		})
	// 	})



</script>

<body>

</body>

</html>