<!DOCTYPE html>
<html lang="en">

<head>
 
    <link rel="stylesheet" href="__INDEX__/mobile/css/lxwm.css">
  {include file="mobile/public/resource" /} 
</head>

<body>
    {include file="mobile/public/header" /} 
    <div class="a_banner">
        <img src="__INDEX__/mobile/img/lxwm/bannerr.jpg" style="margin-top: 2.4rem;">
    </div>
    <div class="l_main" style="margin-top: 4.125rem;">
        <p>联系我们</p>
        <div class="im"><img src="__INDEX__/mobile/img/chongzhimima/dgsm.png" ></div>
        <p id="m_p">PASSWORD RESET</p>
    </div>
    <div class="main_z" style="margin-top: 1.5rem;">
        <h1>客户您好：</h1>
        <span>
            欢迎您访问北汽福田汽车股份有限公司奥铃事业部本部网站，网站将为您提供热情、诚挚的服务。
            如果您还需要了解事业部其他相关资讯和产品信息，请直接拨打我们的服务热线与我们联系。

        </span>
        <p><span>24小时服务热线：</span><span>4008-199-199</span></br>
            <span>通讯地址：北京市昌平区沙河镇沙阳路</span>
        </p>
            <a href="HTTP://WWW:FOTON.COM.CN">集团网站网址：HTTP://WWW:FOTON.COM.CN</a>
        </p>
    </div>
    <div class="a_banner">
        <img src="__INDEX__/mobile/img/lxwm/map.png">
    </div>
    <div class="l_main">
        <img id="tu3" src="__INDEX__/mobile/img/lxwm/zxns.png" >
    </div>
    <a href="HTTP://FUTUREFOTON.ZHIYE.COM/HOME" class="a_banner1" style="display: block;position: relative;">
        <div style="position: absolute;top: 25%;color: #fff;text-align: center;width: 100%;font-size: 1rem;">了解更多 +</div>
        <h1 style="position: absolute;top: 40%;color: #fff;text-align: center;width: 100%;font-size: .8rem;">HTTP://FUTUREFOTON.ZHIYE.COM/HOME</h1>
        <!-- <img src="../olm/img/lxwm/招贤纳士文字.png"> -->
    </a>
    <div class="l_main">
        <img id="tu3" src="__INDEX__/mobile/img/lxwm/zsjm.png">
    </div>
    <div class="a_banner2">
        <h1>招商条件</h1>
        <p>拟加盟经销商必须具备较强的运营管理能力，具备设立和管理好二级网点的能力。拟加盟经销商需要具备轻卡销售经验的销售团队，且经奥铃事业部培训合格。拟加盟经销商必须有较强的经营意愿，认同福田汽车的文化，且库存、资金、形象等要素均达到奥铃品牌准入的基本要求</p>
        <h2>招商热线</br><span>010-59917468</span></h2>

        <!-- <img src="../olm/img/lxwm/招商加盟文字.png"> -->
    </div>
    <div class="l_main">
        <img id="tu3" src="__INDEX__/mobile/img/lxwm/hzhb.png">
        <img id="tu4" src="__INDEX__/mobile/img/lxwm/hzhblb1.png">
    </div>
    {include file="mobile/public/footer" /} 
    <script>
        window.onload = function(){
        	        var heig = $('body').height();
        var bi = 800/heig;
        var bis = bi.toFixed(2);
            if(window.location.href == 'http://aoling.douyar.cc/index/about/contact.html#zxns'){
                $('html,body').animate({scrollTop:heig*bis},'10');
            }
        }
    </script>
</body>

</html>