<!-- 奥铃官网       首页开始 -->
<!doctype html>
<html lang="en">

<head>
	{include file="public/resource" /}
	<link rel="stylesheet" href="__INDEX__/css/gywm.css">

</head>

<body>
	{include file="public/header" /}
	<!-- header -->
	<div id="container">
		<!-- banner -->
		<div class="swiper-container swiper-container1" style="">
			<div class="swiper-wrapper swiper-wrapper1">
				<div class="swiper-slide swiper-slide1"><a href=""><img src="__INDEX__/img/gywm/banner.jpg" alt=""
							class="scale-big"></a></div>
			</div>
		</div>

		<!-- 品牌介绍 -->
		<img src="__INDEX__/img/gywm/ppjs.png" alt="" class="ppjs">

		<!-- 奥铃品牌综述 -->
		<div class="ppzs">
			<p>奥铃品牌综述</p>
			<span>奥铃品牌是福田汽车战略业务品牌之一，以科技奥铃，承载未来为品牌口号，链合欧美日中全球领先科技，致力于用科技驱动中国轻卡升级换代。同时奥铃以自身不断发展希望承载客户的未来、员工的未来及整个行业的未来。奥铃以“应用场景最全”、“产品线最宽”、“细分市场最专”为特色，通过奥铃超越、奥铃速运、奥铃新捷运——具有鲜明应用场景标签的“三驾马车”，以轻卡为核心，上延10吨以上宽体轻卡、下探2吨以内小卡，全系轻卡配装有康明斯、奥铃动力、CNG动力、纯电动动力，轴距从2.8-5.2米，货厢长度从2.65米-7.75米。奥铃品牌缜密布局高效城市物流、“轻快灵”城配物流和安全重载城郊物流，满足不同客户的个性化需求，覆盖城市、城郊、城际、城乡各类不同运输工况，为客户提供“支线+城配”全场景一体化解决方案，打造中国轻卡领军品牌</span>
		</div>

		<!-- 品牌荣誉 -->
		<img src="__INDEX__/img/gywm/ppry.png" alt="" class="ppry">
		<!-- 时间轴 -->
		<div style="position: relative;">
			<div class="swiper-container time" style="">
				<div class="swiper-wrapper swiper-wrapper2">
					<div class="swiper-slide swiper-slide2">
						<div>
							<img src="__INDEX__/img/gywm/prize1.jpg" alt="">
							<span>奥铃CTS超级轻卡挑战极限赛 获评“冰雪极限卡车</span>
						</div>
						<div>
							<img src="__INDEX__/img/gywm/prize2.jpg" alt="">
							<span>2018年寻找车极限颁奖典礼中奥铃CTX荣获最耐用轻卡称号</span>
						</div>
						<div>
							<img src="__INDEX__/img/gywm/prize3.jpg" alt="">
							<span>2018年度中国卡车用户最信赖城市物流车型</span>
						</div>
					</div>
					<div class="swiper-slide swiper-slide2">
						<div>
							<img src="__INDEX__/img/gywm/prize4.jpg" alt="">
							<span>2017年奥铃CTS超级轻卡荣获节油冠军称号</span>
						</div>
						<div>
							<img src="__INDEX__/img/gywm/prize5.jpg" alt="">
							<span>奥铃CTS超级轻卡荣获 2017年度第一影响力轻卡</span>
						</div>
						<div>
							<img src="__INDEX__/img/gywm/prize6.jpg" alt="">
							<span>福田奥铃CTS超级轻卡荣获“2017年度轻卡车型”大奖并被评选为“2016用户最满意商用车”</span>
						</div>
					</div>
					<div class="swiper-slide swiper-slide2">
						<div>
							<img src="__INDEX__/img/gywm/prize7.jpg" alt="">
							<span>奥铃CTS超级轻卡荣获“2017年度中国卡车用户最信赖电商配送车型”奖</span>
						</div>
					</div>
					<div class="swiper-slide swiper-slide2">
						<div>
							<img src="__INDEX__/img/gywm/prize8.jpg" alt="">
							<span>2016年奥铃品牌荣获由中国卡车网颁发的“2016年度中国卡车用户最信赖轻卡”奖</span>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev swiper-button-black" style="left: 100px!important;"></div>
			<div class="swiper-button-next swiper-button-black" style="right: 100px!important;"></div>
		</div>
		<ul class="time-z">
			<li class="first">
				<</li> <div class="each" style="margin: 0 auto;width: 90%;display: flex;justify-content: space-around;">
			<li>2018年</li>
			<li>2017年</li>
			<li>2016年</li>
			<li>2015年</li>
	</div>
	<li class="end">></li>
	</ul>
	<!-- 品牌历程 -->
	<img src="__INDEX__/img/gywm/pplc.png" alt="" class="pplc">
	<div style="position: relative;">
		<div class="swiper-container licheng" style="">
			<div class="swiper-wrapper swiper-wrapper2">
				<div class="swiper-slide swiper-slide3">
					<div class="flex">
						<div>
							<span class="span1">2015</span>
							<span class="span2">2015-01-01</span>
							<span class="span3">贴近市场、贴近终端、贴近客户</span>
						</div>
						<img src="__INDEX__/img/gywm/2019s.png" alt="">
						<div class="con">
							奥铃品牌继续以“贴近市场、贴近终端、贴近客户”为原则，不断完善“品牌+终端”两级整合体验营销体系，品牌层面重点针对高端组织客户，以赛事+专业物流论坛为实体平台推广国IV、国V系列产品；终端层面以经销商为主体，以品质体验万里行+国IV（国V）轻卡品鉴会为平台，走近客户，同时不断完善奥铃官网和微信等数字媒体平台，以期让客户全方位亲身感受奥铃品牌文化和体验产品的优异品质。
						</div>
					</div>
					<img src="__INDEX__/img/gywm/jt.png" alt="" class="jt"
						style="width: 3%!important;position: relative;top:0px;">
					<div class="flex">
						<div>
							<span class="span1">2014</span>
							<span class="span2">2014-01-01</span>
							<span class="span3">建立奥铃品牌+终端两级体验行销体系</span>
						</div>
						<img src="__INDEX__/img/gywm/2019s.png" alt="">
						<div class="con">
							奥铃品牌建立奥铃品牌+终端两级体验行销体系，搭建勒芒赛事、绿色物流论坛以及品质体验万里行三个实体平台，推动体验行销落地终端，向中高端轻卡行业领导者迈进。
						</div>
					</div>
				</div>



				<!-- 2222222222222222222222222222222222222222222222222222 -->
				<div class="swiper-slide swiper-slide3">
					<div class="flex">
						<div>
							<span class="span1">2013</span>
							<span class="span2">2013-01-01</span>
							<span class="span3">创新构建赛事+论坛两个实体活动</span>
						</div>
						<img src="__INDEX__/img/gywm/2019s.png" alt="">
						<div class="con">
							奥铃品牌以中国勒芒轻卡耐力赛为平台，通过创新构建赛事+论坛两个实体活动，实现了与目标客户的有效沟通，促进了奥铃品牌客户结构的调整。
						</div>
					</div>
					<img src="__INDEX__/img/gywm/jt.png" alt="" class="jt"
						style="width: 3%!important;position: relative;top:0px;">
					<div class="flex">
						<div>
							<span class="span1">2012</span>
							<span class="span2">2012-01-01</span>
							<span class="span3">连续四年实现行业增幅第一</span>
						</div>
						<img src="__INDEX__/img/gywm/2019s.png" alt="">
						<div class="con">
							奥铃品牌在中高端轻卡市场取得领先的同时，推出奥铃中卡，进入城际物流市场，并连续四年实现行业增幅第一。
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-button-prev swiper-button-black" style="left: 100px!important;"></div>
		<div class="swiper-button-next swiper-button-black" style="right: 100px!important;"></div>
	</div>

	<!-- 技术研发 -->
	<img src="__INDEX__/img/gywm/jsyf.png" alt="" class="jsyf">

	<div class="js-show">
		<img src="__INDEX__/img/gywm/js02.png" alt="">
		<div class="descrip">
			<h3>福田汽车在创新之路上</h3>
			<span>福田汽车在创新之路上福田汽车在创新之路上福田汽车在创新之路上福田汽车在创新之路上福田汽车在创新之路上福田汽车在创新之路上福田汽车在创新之路上</span>
			<a href="{:url('About/jsyf')}"><button></button></a>
		</div>
	</div>
	</div>

	{include file="public/footer" /}
	<!-- footer -->
	<script>
		var mySwiper2 = new Swiper('.time', {
			prevButton: '.swiper-button-prev',
			nextButton: '.swiper-button-next',
		})
		var mySwiper3 = new Swiper('.licheng', {
			prevButton: '.swiper-button-prev',
			nextButton: '.swiper-button-next',
		})

		$('.each').find('li').each(function (i, index) {
			$(this).click(function () {
				mySwiper2.slideTo(i, 1000, false);
			})
		})
	</script>

</body>

</html>