<!-- 奥铃官网       首页开始 -->
<!doctype html>
<html lang="en">
<head>
	{include file="public/resource" /}
	<link rel="stylesheet" href="__INDEX__/css/jsyf.css">
</head>
<body>
<!-- header -->
{include file="public/header" /}
<div id="container">
	<!-- banner -->
	<div class="swiper-container swiper-container1" style="">
	    <div class="swiper-wrapper swiper-wrapper1">
	        <div class="swiper-slide swiper-slide1"><a href=""><img src="__INDEX__/img/wyfw/banner.jpg" alt="" class="scale-big"></a></div>
	    </div>
	</div>

	<!-- 联系我们 -->
	<img src="__INDEX__/img/wyfw/jsyf.png" alt="" class="jsyf">

	<div class="tech w1200-1400" style="overflow: hidden;">
		<div class="zhbox" style="overflow: hidden;">
			<p class="techtitle scrollShow" style="opacity: 1; position: relative; top: 0px;">内涵增长，链合创新，福田汽车在创新之路上</p>
			<p class="techcon scrollShow" style="opacity: 1; position: relative; top: 0px;">
				福田汽车借助科技创新和内涵增长，把握瞬息万变的全球市场。<br>
				FOTON以人为本，通过整合康明斯、奔驰等全球价值链资源，不断推进FOTON的国际化进程，为全球用户创造由科技成果转化的高附加值产品和<br>
				服务，持续创造人、车、环境的和谐共生新境界。<br>
				福田汽车运用人类智慧和科技力量来思考与探索未来，永不止步！<br>
			</p>
			<div class="techpicbox clearfix scrollShow" style="opacity: 1; position: relative; top: 0px;">
				<img src="__INDEX__/img/wyfw/t1.jpg">
				<img src="__INDEX__/img/wyfw/t2.jpg">
				<img src="__INDEX__/img/wyfw/t3.jpg">
			</div>
			<p class="techtitle scrollShow" style="opacity: 1; position: relative; top: 0px;">福田汽车全球研发中心</p>
			<p class="techcon scrollShow" style="opacity: 1; position: relative; top: 0px;">
				福田汽车始终秉承“热情、创新、永不止步”的企业价值观，以自主研发为核心，搭建了全球联合开发体系，依托分布在欧洲、日本、台湾等国家<br>
				和地区的科技研发中心，从发动机、底盘到整车匹配，革新科技打造出具有世界级标准的优质汽车产品。<br>
				福田汽车工程研究院从海外的全球顶级汽车公司引进世界一流的海外专家作为学术带头人，汇集了3000多名海内外科技精英，为福田汽车不断科<br>
				技创新提供有力的保障。
			</p>
			<img src="__INDEX__/img/wyfw/ftfb.png" class="scrollShow" style="opacity: 1; position: relative; top: 0px;">
		</div>
	</div>
</div>
		
	{include file="public/footer" /}
<!-- footer -->
<script>
</script>
</body>
</html>